<h1>Welcome</h1>
<h3>Data</h3>
<% @stocks.each do |stock| %>
<p>Company Name: <%= stock.name %></p>
<p>Ticker: <%= stock.ticker.upcase %></p>
<p>Industry: <%= stock.industry %></p>
<p>EPS: <%= stock.eps %></p>
<p>PE: <%= stock.pe %></p>
<p>Pbook: <%= stock.pbook %></p>
<p>Psales: <%= stock.psales %></p>
<p>Market Cap: <%= stock.markcap %></p>
<p>Ask: <%= stock.ask %></p>
<p>Bid: <%= stock.bid %></p>
<p>Shares: <%= stock.shares %></p>
<p>PEG: <%= stock.peg %></p>
<p>ASI Component: <%= stock.asi_component %></p>
<p>Book Value: <%= stock.book_value %></p>
<p>Graham Number: <%= stock.graham_number.round(2) %></p>
<p>EPS v Industry: <%= stock.eps_v_ind %></p>
<p>PE v Industry: <%= stock.pe_v_ind %></p>
<p>Pbook v Industry: <%= stock.pbook_v_ind %></p>
<p>Psales v Industry: <%= stock.psales_v_ind %></p>
<p>Market Cap v Industry: <%= stock.markcap_v_ind %></p>
<p>Shares v Industry: <%= stock.shares_v_ind %></p>
<p>PEG v Industry: <%= stock.peg_v_ind %></p>
<p>Book Value v Industry: <%= stock.book_value_v_ind %></p>
<p>Graham Number v Industry: <%= stock.graham_number_v_ind %></p>
<p>8==================D</p>
<% end %>
<br>
